.hcl-tag {
    display: inline-block;
    padding: 0 16px;
    font-size: 16px;
    line-height: 1.6;
    border-radius: 24px;
    background-color: #0066b3;
    color: #fff;
    font-weight: 300;
    &--is-closeable {
        color: #888;
        cursor: pointer;
        margin-left: 16px;
        &:hover {
            color: #000;
        }
    }
}