.query-builder-temp .query-group,
.query-builder-temp .query-group-list {
    list-style: none;
    margin: 0;
}

.query-builder-temp .query-group {
    padding: 0;
    padding-left: 1rem;
}

.query-builder-temp .query-group-list {
    position: relative;
    padding-left: 1rem;
}

.query-builder-temp .query-group-list .condition-wrapper {
    position: relative;
}

.query-builder-temp .query-group-list .gate-wrapper {
    z-index: 1;
}

.query-builder-temp .query-group-list .query-group {
    margin-left: -1rem;
    padding-left: 2rem;
}

.query-builder-temp .hcl-tile {
    width: 100%;
    z-index: 1;
}

.query-builder-temp .condition-wrapper::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 50%;
    border-style: solid;
    border-width: 0 0 1px 1px;
    border-color: #adadad;
    left: -10px;
    top: 0;
}

.query-builder-temp .condition-wrapper::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 50%;
    display: block;
    border-style: solid;
    top: 50%;
    border-width: 0 0 0 1px;
    border-color: #adadad;
    left: -10px;
}

.query-builder-temp .query-group-list .gate-wrapper {
    position: relative;
    padding: 10px 0;
}

.query-builder-temp .gate-wrapper::before {
    content: '';
    position: absolute;
    width: 100%;
    height: calc(50% + 10px);
    border-style: solid;
    border-width: 0 0 1px 1px;
    border-color: #adadad;
    left: -10px;
    top: -10px;
}

.query-builder-temp .container::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    border-style: solid;
    bottom: 0;
    border-width: 0 0 0 1px;
    border-color: #adadad;
    left: 6px;
}

.query-builder-temp .container>.query-group>.query-group-list>.condition-wrapper::before {
    content: '';
    position: absolute;
    width: 100%;
    height: calc(50% + 10px);
    border-style: solid;
    border-width: 0 0 1px 1px;
    border-color: #adadad;
    left: -10px;
    top: -10px;
}

.query-builder-temp>.query-group>.query-group-list>.gate-wrapper::before {
    content: none;
}

.query-builder-temp .query-group .query-group-list:last-child::after {
    content: none;
}

.query-builder-temp .query-group .query-group-list:last-child>.condition-wrapper::after {
    content: none;
}

.query-builder-temp>.query-group {
    position: relative;
}

.query-builder-temp .gate-wrapper-panel {
    position: relative;
    background: var(--default_bg);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.gate-wrapper-panel .hcl-content-switcher {
    width: auto;
}