ol {
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
    li {
        display: inline;
        font-size: 18px;
        &[class$="active"] a {
            color: #6c757d;
        }
    }
}

ol li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

ol li a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

ol li a:hover {
    color: #01447e;
    text-decoration: underline;
}