.patron-treeview {
    position: relative;
    margin-bottom: 1px;
    width: 100%;
    color: #fff;
    overflow: hidden;
    font-size: 14px;
    >input[type=checkbox] {
        position: absolute;
        opacity: 0;
        z-index: -1;
        &:checked~.patron-treeview-content {
            max-height: 100vh;
        }
        &:checked+label.arrow::after {
            transform: translateY(-50%) rotate(180deg);
        }
        &+label.arrow::after {
            width: 0;
            height: 0;
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;
            border-bottom: 6px solid #6f6f6f;
        }
    }
    >label {
        position: relative;
        display: block;
        background: #ffffff;
        padding: 0.25rem;
        padding-left: 1rem;
        cursor: pointer;
        color: #000000;
        margin-bottom: 0;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        &::after {
            content: "";
            position: absolute;
            left: 8px;
            top: 50%;
            display: block;
            text-align: center;
            -webkit-transition: all .35s;
            -o-transition: all .35s;
            transition: all .35s;
            font-size: 12px;
            color: #545b62;
            transform: translateY(-50%) rotate(0deg);
        }
        >span {
            color: #ffc107;
            margin: 0 0.5rem;
            &.patron-treeview-folder::after {
                content: "\2726";
            }
            &.patron-treeview-file::after {
                content: "\2727";
            }
        }
        &:hover {
            background-color: #017cff26;
        }
    }
    &-content {
        max-height: 0;
        overflow: hidden;
        background: #ffffff;
        -webkit-transition: max-height .35s;
        -o-transition: max-height .35s;
        transition: max-height .35s;
        margin-left: 15px;
        color: #000;
    }
}