/******************************************************************
 * HCL Confidential
 *
 * Copyright HCL Technologies Ltd. 2019 All rights reserved.
 *
 *******************************************************************
 */
 
 $prefix: 'hcl';

 .#{$prefix}-toggle-container {
    display: inline-block;

    .#{$prefix}-toggle {
        position: relative;
        cursor: pointer;
        display: inline-block;
        width: 3rem;
        height: 1.5rem;
        top: 0;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        margin-bottom: 0;

        &:before {
            content: "";
            position: relative;
            width: 3rem;
            display: block;
            top: 50%;
            left: 0;
            background-color: #717171; // TODO: Need to check with design team
            transition: .4s;
            transform: translate(0, -50%);
            height: 0.25rem;
        }

        .#{$prefix}-slider {
            position: absolute;
            left: 0;
            display: block;
            background: white;
            height: 1.5rem;
            width: 1.5rem;
            top: 50%;
            background-color: #F5F5F5; // TODO: Need to check with design team
            border: 0.125rem solid #717171; // TODO: Need to check with design team
            transition: .4s;
            transform: translate(0, -50%);
            border-radius: 50%;
        }
    }

    input[type="checkbox"] {
        opacity: 0;
        width: 0;
        height: 0;
        position: absolute;

        &:checked+.#{$prefix}-toggle {
            &:before {
                background-color: var(--blue);
            }

            .#{$prefix}-slider {
                top: 50%;
                transform: translate(1.5rem, -50%);
                background-color: var(--blue);
                border: none;
            }
        }

        &:focus+.#{$prefix}-toggle {
            .#{$prefix}-slider {
                box-shadow: 0 0 0 0.125rem #5AAAFA; // TODO: Need to check with design team
                border: 0.125rem solid #5A6872;
            }
        }

        &:hover+.#{$prefix}-toggle {
            .#{$prefix}-slider {
                border: 0.125rem solid #383838; // TODO: Need to check with design team
            }
        }

        &:disabled+.#{$prefix}-toggle {
            &:before {
                background-color: #D2D2D2; // TODO: Need to check with design team
                cursor: not-allowed;
            }

            .#{$prefix}-slider {
                background-color: #F5F5F5; // TODO: Need to check with design team
                border: 0.125rem solid #D2D2D2; // TODO: Need to check with design team
                cursor: not-allowed;
            }
        }

        &:disabled~.#{$prefix}-toggle-off,
        &:disabled~.#{$prefix}-toggle-on {
            color: #AAAAAA; // TODO: Need to check with design team
        }
    }

    .#{$prefix}-toggle-off,
    .#{$prefix}-toggle-on {
        font-size: .875rem;
        font-weight: 400;
        line-height: 1.5rem;
        letter-spacing: .01rem;
        color: #0F212E; // TODO: Need to check with design team
    }

    .#{$prefix}-toggle-off {
        float: left;
    }

    .#{$prefix}-toggle-on {
        float: right;
    }

    &:after {
        content: '';
        display: block;
        clear: both;
    }
}
