.logic-builder .hcl-tile {
    width: 100%;
}

.logic-builder .query-group,
.logic-builder .query-group-list {
    list-style: none;
    margin: 0;
}

.logic-builder .query-group {
    padding: 0;
    padding-left: 1rem;
}

.logic-builder .query-group-list {
    position: relative;
    padding-left: 1rem;
}
.logic-builder .query-group-list{
    position: relative;
}
.logic-builder .subItem .hcl-tile::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 99px;
    border-style: solid;
    border-width: 0 0 2px 2px;
    border-color: #737373;
    left: -35px;
    top: -55px;
}

.logic-builder .subItem .hcl-tile::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    border-style: solid;
    top: 0;
    border-width: 0 0 0 2px;
    border-color: #737373;
    left: -35px;
}

.logic-builder .query-group .query-group-list:last-child>.hcl-tile::after {
    content: none;
}

.logic-builder .condition-wrapper{
    position: relative;
    background: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.left-section{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.right-section{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logic-builder .gate-wrapper-container{
    z-index: 1;
    position: relative;
}

.logic-builder .rootTile.hcl-tile::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 8px;
    display: block;
    border-style: solid;
    top: 0;
    border-width: 0 0 2px 0;
    border-color: #737373;
    top: 35px;
    left: -1px;
}