#story-root {
  padding: 40px;
}


.hcl-progressbar-circle-container {
  vertical-align: middle;
  display: inline-block;
}
.hcl-progressbar-circle .hcl-progressbar-circle-inner {
  fill: none;
  stroke: var(--default_bg_high);
}
.hcl-progressbar-circle-outer {
  fill: none;
  stroke: var(--primary_bg);
}
.hcl-progressbar-circle-text {
  font-size: 1rem;
  text-anchor: middle;
  fill: blue !important;
}
