* {
  margin: 0;
  padding: 0;
}

#root {
  height: 100vh;
}

.p-hclsw-folder,
.p-hclsw-export {
  color: sandybrown;
}

.p-hclsw-document {
  color: skyblue;
}

.nodrop-cursor {
  cursor: no-drop;
}

.hcl-data-table-wrapper thead tr th.resizable {
  &:hover {
    > span.hcl-data-table-resizable {
      user-select: none;
      display: inline-block;
      position: absolute;
      width: 4px;
      height: 100%;
      bottom: 0;
      right: 0px;
      z-index: 1;
      cursor: col-resize;
      &:after {
        content: '';
        display: inline-block;
        // border: 4px solid #0066b3;
        background: #0066b3;
        height: 100%;
        width: 100%;
      }
    }
  }
}

.resize-table {
  cursor: col-resize;
  & .hcl-data-table-wrapper thead tr th.resizing {
    > span.hcl-data-table-resizable {
      user-select: none;
      display: inline-block;
      position: absolute;
      width: 4px;
      height: 100%;
      bottom: 0;
      right: 0px;
      z-index: 1;
      &:after {
        content: '';
        display: inline-block;
        // border: 4px solid #0066b3;
        background: #0066b3;
        height: 100%;
        width: 100%;
      }
    }
  }  
}
