* {
  margin: 0;
  padding: 0;
}

#root {
  height: 100vh;
}

.hcl-inpage-navigation-wrapper {
  position: fixed;
  top: 400px;
  right: 27px;
}

nav.hcl-sidebar.hcl-sidebar-left {
  float: left;
}

.hcl-slideout {
  --transition-seconds: 200ms;
  position: fixed;
  display: block;
  overflow: hidden;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 99;
  .hcl-slideout-mask {
    background: var(--overlay);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    // opacity: 0;
    // will-change: background;
    // transition: all 200ms ease-out;
  }
  &.hcl-slideout__default-border {
    .hcl-slideout-layout {
      border-top: 4px solid var(--secondary_border);
    }
  }
  &.hcl-slideout__danger-border {
    .hcl-slideout-layout {
      border-top: 4px solid var(--danger_border);
    }
  }
  &.hcl-slideout__warning-border {
    .hcl-slideout-layout {
      border-top: 4px solid var(--warning_border);
    }
  }
  &.hcl-slideout__ghost-border {
    .hcl-slideout-layout {
      border-top: 4px solid var(--ghost_border);
    }
  }
  .hcl-slideout-layout {
    border-top: 4px solid var(--secondary_border);
    position: absolute;
    right: 0;
    width: 0;
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    background: #fff;
    transition: right var(--transition-seconds) ease-in-out 0s,
      left var(--transition-seconds) ease-in-out 0s,
      width var(--transition-seconds) ease-in-out 0s;
    &.default:not(.layout-left) {
      &.show {
        right: 0;
        width: 400px;
        padding: 28px 24px 0;
      }
      &.hide {
        right: -400px;
        width: 0;
        .hcl-slideout-footer {
          display: none;
        }
      }
    }
    &.large:not(.layout-left) {
      &.show {
        right: 0;
        width: 600px;
        padding: 28px 24px 0;
      }
      &.hide {
        right: -600px;
        width: 0;
        .hcl-slideout-footer {
          display: none;
        }
      }
    }
    &.layout-left {
      left: 0;
      &.show {
        left: 0;
        width: 400px;
        padding: 28px 24px 0;
      }
      &.hide {
        left: -400px;
        .hcl-slideout-footer {
          display: none;
        }
      }
      &.large {
        &.show {
          left: 0;
          width: 600px;
          padding: 28px 24px 0;
        }
        &.hide {
          left: -600px;
          .hcl-slideout-footer {
            display: none;
          }
        }
      }
    }
    .hcl-slideout-header {
      display: flex;
      .hcl-slideout-header__text {
        position: relative;
        font-size: 24px;
        line-height: 1.5;
        height: 36px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 90%;
        left: 15px;
      }
    }
    .hcl-slideout-close {
      right: 9.25px;
      top: 19.25px;
      padding: 0.875rem;
      background: transparent;
      cursor: pointer;
      position: absolute;
      & > svg {
        width: 0.75rem;
        height: 0.75rem;
        fill: var(--default_icon_high);
      }
    }
    .hcl-slideout-footer {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      min-height: 88px;
      background: #f2f2f2;
      .hcl-action-bar {
        position: relative;
        display: flex;
        flex-direction: row-reverse;
        top: 15px;
        right: 24px;
      }
    }
  }
  .hcl-slideout-content {
    margin-top: 24px;
    overflow: auto;
    height: calc(100% - 165px);
  }
  @media (max-width: 768px) {
    .hcl-slideout-layout {
      &.show {
        width: 100%;
      }
    }
  }
}

// .mask-holder-enter {
//   opacity: 0;
//   background: transparent;
//   width: 100px;
//   height: 100px;
// }
// .mask-holder-enter-active {
//   opacity: 1;
//   background: red;
//   transform: translateX(0);
//   transition: opacity 300ms, transform 300ms;
// }
// .mask-holder-exit {
//   opacity: 1;
// }
// .mask-holder-exit-active {
//   opacity: 0;
//   transform: scale(0.9);
//   transition: opacity 300ms, transform 300ms;
// }

// .hcl-slideout {
//   position: fixed;
//   display: block;
//   overflow: hidden;
//   top: 0;
//   bottom: 0;
//   right: 0;
//   left: 0;
//   z-index: 99;
//   opacity: 0;
//   transition: opacity 200ms;
//   .hcl-slideout-mask {
//     background: var(--overlay);
//     position: absolute;
//     top: 0;
//     bottom: 0;
//     right: 0;
//     left: 0;
//     // &.mask-holder-enter {
//     opacity: 0;
//     // }
//   }

//   &.hcl-slideout__default-border {
//     .hcl-slideout-layout {
//       border-top: 4px solid var(--secondary_border);
//     }
//   }
//   &.hcl-slideout__danger-border {
//     .hcl-slideout-layout {
//       border-top: 4px solid var(--danger_border);
//     }
//   }
//   &.hcl-slideout__warning-border {
//     .hcl-slideout-layout {
//       border-top: 4px solid var(--warning_border);
//     }
//   }
//   &.hcl-slideout__ghost-border {
//     .hcl-slideout-layout {
//       border-top: 4px solid var(--ghost_border);
//     }
//   }

//   .hcl-slideout-layout {
//     border-top: 4px solid var(--secondary_border);
//     position: absolute;
//     right: 0;
//     transition: width 0.15s linear;
//     width: 0;
//     height: 100%;
//     padding: 28px 24px 0;
//     max-height: 100%;
//     max-width: 100%;
//     background: #fff;
//     transition: width 300ms ease-in-out;
//     &.default {
//       opacity: 1;
//       // transform: translateX(0%);
//       // -webkit-transform: translateX(0%);
//     }
//     &.show {
//       width: 400px;
//     }
//     &.hide {
//       width: 0;
//     }
//     &.large {
//       // transform: translateX(0%);
//       // -webkit-transform: translateX(0%);
//       &.show {
//         width: 600px;
//       }
//     }
//     &.layout-left {
//       left: 0;
//     }
//     .hcl-slideout-header {
//       display: flex;
//       .hcl-slideout-header__text {
//         position: relative;
//         font-size: 24px;
//         line-height: 1.5;
//         height: 36px;
//         white-space: nowrap;
//         overflow: hidden;
//         text-overflow: ellipsis;
//         max-width: 90%;
//       }
//     }
//     .hcl-slideout-close {
//       right: 9.25px;
//       top: 19.25px;
//       padding: 0.875rem;
//       background: transparent;
//       cursor: pointer;
//       position: absolute;
//       & > svg {
//         width: 0.75rem;
//         height: 0.75rem;
//         fill: var(--default_icon_high);
//       }
//     }
//     .hcl-slideout-footer {
//       position: absolute;
//       left: 0;
//       right: 0;
//       bottom: 0;
//       min-height: 88px;
//       background: #f2f2f2;
//       .hcl-action-bar {
//         position: relative;
//         display: flex;
//         flex-direction: row-reverse;
//         top: 15px;
//         right: 24px;
//       }
//     }
//   }
//   .hcl-slideout-content {
//     margin-top: 24px;
//     overflow: auto;
//     height: calc(100% - 188px);
//   }
//   @media (max-width: 768px) {
//     .hcl-slideout-layout {
//       &.show {
//         width: 100%;
//       }
//     }
//   }
// }

// .alert-enter {
//   opacity: 0;
//   transform: scale(0.9);
// }
// .alert-enter-active {
//   opacity: 1;
//   transform: translateX(0);
//   transition: opacity 300ms, transform 300ms;
// }
// .alert-exit {
//   opacity: 1;
// }
// .alert-exit-active {
//   opacity: 0;
//   transform: scale(0.9);
//   transition: opacity 300ms, transform 300ms;
// }

.custom-slideout-table {
  font-size: 14px;
  font-weight: 400;
}
.h-line::after {
  display: block;
  content:'';
  width: 100%;
  padding: inherit;
  margin: 10px 15px 0;
  border: 1px solid #C9C9C9;
} 