* {
  margin: 0;
  padding: 0;
}

#root {
  height: 100vh;
}

.hcl-inpage-navigation-wrapper {
  position: fixed;
  top: 400px;
  right: 27px;
}

.hcl-wizard__item {
  display: inline-flex;
  position: relative;
  padding: 8px 16px;
}
.hcl-wizard__item::after {
  content: '';
  position: absolute;
  border: 2px solid #e6e6e6;
  display: block;
  width: 100%;
  height: 2px;
  top: -13px;
  left: 2%;
  z-index: 1;
}
.hcl-wizard__item.active::after,
.hcl-wizard__item.completed::after {
  border: 2px solid #0066b0;
}
.hcl-wizard__user {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid #0066b0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.hcl-wizard-right-pane {
  padding-left: 8px;
}
