* {
  margin: 0;
  padding: 0;
}

#root {
  height: 100vh;
}

.hcl-inpage-navigation-wrapper {
  position: fixed;
  top: 400px;
  right: 27px;
}

body .hcl-data-table-wrapper .hcl-data-table tr th.resizable>span.hcl-data-table-resizable {
  width:20px !important;
  background: red !important;
}

.hcl-data-table-wrapper .hcl-data-table tr th.resizable>span.hcl-data-table-resizable span.resize-handle {
  width: 20px !important;
}