* {
  margin: 0;
  padding: 0;
}

#root {
  height: 100vh;
}

.hcl-inpage-navigation-wrapper {
  position: fixed;
  top: 400px;
  right: 27px;
}

.rte-wrapper{
    padding: 1rem;
    border: 1px solid lightgray;
    width: 100%;
    margin: 1rem;
}




