#root .hcl-sidebar {
    position: relative;
    height: 500px;
    margin-bottom: 50px;
}

#root .hcl-modal:nth-child(1) {
    position: unset !important;
    width: 100%;
    outline: none;
    background-color: transparent !important;
}

#root .hcl-toast:nth-child(1) {
    position: relative !important;
}

#root .hcl-header {
    position: relative !important;
    width: 100% !important;
}

.hcl-document tbody td:nth-child(4),
.hcl-document tbody td:nth-child(5) {
    white-space: pre-wrap;

}

.hcl-storybook-container .hcl-codesnippet-wrapper .hcl-codesnippet .hcl-codesnippet-copy.hcl-btn {
    margin: 0 !important;
}



/* @media only screen and (min-width: 768px) {
    #root > .hcl-tree,
    #root > .hcl-dropdown,
    #root > .hcl-number-input-wrapper,
    #root > .hcl-search,
    #root > .hcl-slider-wrapper,
    #root > .hcl-spinner,
    #root > .hcl-spinner-inline,
    #root > .hcl-textarea,
    #root > .hcl-form-control,
    #root > .hcl-breadcrumb.hcl-loading,
    #root > .hcl-tab.hcl-loading,
    #root > .hcl-form-group {
      width: 400px;
    }
  
    #story-root > .hcl-actionbar,
    #story-root > .hcl-toolbar,
    #story-root > .hcl-accordion {
      width: 650px;
    }
  } */

/* #story-root .hcl-modal:nth-child(1) {
  position: unset !important;
  width: 100%;
  outline: none;
  background-color: transparent !important;
}

#story-root .hcl-toast:nth-child(1) {
  position: relative !important;
}

.hcl-sidebar {
  position: relative !important;
  top: 0 !important;
  z-index: 0 !important;
  height: 35rem !important;
}

.hcl-header {
  position: relative !important;
  width: 100% !important;
}

 */