#story-root .hcl-modal:nth-child(1) {
  position: unset !important;
  width: 100%;
  outline: none;
  background-color: transparent !important;
}

#story-root .hcl-toast:nth-child(1) {
  position: relative !important;
}

.hcl-sidebar {
  position: relative !important;
  top: 0 !important;
  z-index: 0 !important;
  height: 35rem !important;
}

.hcl-header {
  position: relative !important;
  width: 100% !important;
}

@media only screen and (min-width: 768px) {
  #story-root > .hcl-tree,
  #story-root > .hcl-dropdown,
  #story-root > .hcl-number-input-wrapper,
  #story-root > .hcl-search,
  #story-root > .hcl-slider-wrapper,
  #story-root > .hcl-spinner,
  #story-root > .hcl-spinner-inline,
  #story-root > .hcl-textarea,
  #story-root > .hcl-form-control,
  #story-root > .hcl-breadcrumb.hcl-loading,
  #story-root > .hcl-tab.hcl-loading,
  #story-root > .hcl-form-group {
    width: 400px;
  }

  #story-root > .hcl-actionbar,
  #story-root > .hcl-toolbar,
  #story-root > .hcl-accordion {
    width: 650px;
  }
}
