/* th {
    background: rgb(250, 250, 250);
    text-transform: capitalize;
} */

#story-root {
  padding: 3em;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.simplebar-content pre {
  padding: 20px 5px;
  font-weight: 500;
}

.hcl-modal {
  position: unset !important;
  width: 100%;
  background-color: transparent !important;
}

.hcl-content-switcher {
  justify-content: center;
}

pre button {
  color: black;
}

.hcl-toast {
  position: relative !important;
  margin: 0 auto !important;
}

.hcl-search-btn-only {
  width: 100%;
}

.hcl-number-input-wrapper {
  width: 100%;
}

.hcl-sidebar {
  position: relative !important;
  top: 0 !important;
  z-index: 0 !important;
  height: 35rem !important;
}

.hcl-header {
  position: relative !important;
  width: 100% !important;
}

.pi-folder,
.pi-export {
  color: sandybrown;
}

.pi-document {
  color: skyblue;
}

.hcl-tree {
  width: 400px;
}

