:root {
    --paddingLeft: 1rem;
    --paddingRight: 0.75rem;
    --paddingBottom: 1rem;
    --headerHeight: 40px;
    --borderWidth: 2px;
    --tileTitleHeight: 32px;
    --tileBorderWidth: 1px;
    --borderRadius: 0px;
    --borderRadiusAdj:var(--borderRadius)
  }
  
  .logic-builder {
    padding: 2rem;
  }
  
  .logic-builder .hcl-tile {
    width: 100%;
    padding: 0 var(--paddingRight) var(--paddingBottom) var(--paddingLeft);
  }
  
  .tile-header {
    font-size: 14px;
    font-weight: 500;
    padding-top: 0.5rem;
  }
  
  .condition-wrapper button {
    height: 40px;
    width: 40px;
    margin: 0;
  }
  
  .logic-builder .query-group,
  .logic-builder .query-group-list {
    list-style: none;
    margin: 0;
  }
  
  .logic-builder .query-group {
    padding: 0;
  }
  
  .subItem {
    padding-left: var(--paddingLeft) !important;
  }
  
  .logic-builder .query-group-list {
    position: relative;
  }
  
  .logic-builder .query-group-list {
    position: relative;
  }
  
  .logic-builder .condition-wrapper {
    position: relative;
    background: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
  .left-section {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    width: 100%;
  }
  .hcl-inline-wrapper{
      min-height: 40px;
      vertical-align: middle;
      display: flex;
      justify-content: center;
      align-items: center;
      word-break: break-all;
  }
  .right-section {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .logic-builder .gate-wrapper-container {
    position: relative;
  }
  
  
  .gate-wrapper {
    position: relative;
  }
  
  .full-line > .hcl-tile > .gate-wrapper-container > .gate-wrapper::before {
    content: '';
    position: absolute;
    width: var(--paddingLeft);
    height: 100%;
    display: block;
    border-style: solid;
    border-width: var(--borderWidth) var(--borderWidth) 0 0;
    border-color: #737373;
    top: calc(var(--headerHeight) / 2);
    left: calc(0px - var(--paddingLeft));
    border-radius: 0 var(--borderRadius) 0 0;
  }
  
  .half-line > .hcl-tile::before {
    content: '';
    position: absolute;
    width: var(--paddingLeft);
    height: calc(var(--headerHeight) / 2);
    display: block;
    border-style: solid;
    top: calc(var(--headerHeight) / 2);
    border-width: var(--borderWidth) 0 0 0;
    border-color: #737373;
    top: calc(var(--headerHeight) / 2);
    left: 0px;
  }
  
  .child::before {
    content: '';
    position: absolute;
    width: calc(var(--paddingLeft) + var(--borderWidth));
    height: calc(
      var(--tileTitleHeight) + calc(var(--headerHeight) / 2) + var(--borderWidth) +
        var(--tileBorderWidth)
    );
    display: block;
    border-style: solid;
    border-width: 0 0 var(--borderWidth) var(--borderWidth);
    border-color: #737373;
    top: 0;
    left: calc(0px - (var(--paddingLeft) + var(--borderWidth)));
    border-radius: 0 0 0 var(--borderRadius);
  }
  
  .child::after {
    content: '';
    position: absolute;
    width: calc(var(--paddingLeft) + var(--borderWidth));
    height: calc(
      100% -
        calc(
          var(--tileTitleHeight) + calc(var(--headerHeight) / 2) +
            var(--borderWidth) + var(--tileBorderWidth)
        ) + var(--borderRadiusAdj)
    );
    display: block;
    border-style: solid;
    border-width: 0 0 0 var(--borderWidth);
    border-color: #737373;
    top: calc(
      var(--tileTitleHeight) + calc(var(--headerHeight) / 2) + var(--borderWidth) +
        var(--tileBorderWidth) - var(--borderRadiusAdj)
    );
    left: calc(0px - (var(--paddingLeft) + var(--borderWidth)));
  }
  
  .logic-builder .query-group .query-group-list:last-child > .child::after {
    content: none;
  }
  
  .logic-builder .query-group .query-group-list.last-element > .child::after {
    border-style: dotted;
  }
  
  .drawDashed button {
    font-size: 24px;
    width: 40px;
    height: 40px;
    margin: 0;
  }
  
  .drawDashed::before {
    content: '';
    position: absolute;
    width: calc(var(--paddingLeft) + var(--borderWidth));
    height: calc(calc(var(--headerHeight) / 2) - var(--borderWidth));
    display: block;
    border-style: dotted;
    border-width: 0 0 var(--borderWidth) var(--borderWidth);
    border-color: #737373;
    top: var(--borderWidth);
    left: calc(0px - (var(--paddingLeft) + var(--borderWidth)));
    border-radius: 0 0 0 var(--borderRadius);
  }
  
  /* ~ :not(.drawDashed) */
  /* .logic-builder .subItem .hcl-tile::before {
      content: '';
      position: absolute;
      width: 16px;
      height: 8px;
      display: block;
      border-style: solid;
      top: 20px;
      border-width: 2px 0 0px 0;
      border-color: #737373;
      top: 28px;
      left: 0px;
  }
  
  .logic-builder .subItem .hcl-tile::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      display: block;
      border-style: solid;
      top: 0;
      border-width: 0 0 0 2px;
      border-color: #737373;
      left: -35px;
  }
  
  .logic-builder .query-group .query-group-list:last-child>.hcl-tile::after {
      content: none;
  }
  
  .logic-builder .rootTile.hcl-tile::before {
      content: '';
      position: absolute;
      width: 16px;
      height: 8px;
      display: block;
      border-style: solid;
      top: 20px;
      border-width: 2px 0 0px 0;
      border-color: #737373;
      top: 28px;
      left: 0px;
  }
  
  .main-wrapper::before{
      content: '';
      position: absolute;
      width: 16px;
      height: 83px;
      display: block;
      border-style: solid;
      top: 0;
      border-width: 0px 0 2px 2px;
      border-color: #737373;
      top: -28px;
      left: -16px;
  }
  .main-wrapper::after{
      content: '';
      position: absolute;
      width: 16px;
      height: calc( 100% - 80px);
      display: block;
      border-style: solid;
      top: 0;
      border-width: 2px 0 0px 2px;
      border-color: #737373;
      top: 53px;
      left: -16px;
  }
  
  .logic-builder .query-group .query-group-list:last-child>.main-wrapper::after {
      content: none;
  } */
  
  /* .logic-builder .rootTile.hcl-tile::after {
      content: '';
      position: absolute;
      width: 16px;
      height: calc(100% - 28px);
      display: block;
      border-style: solid;
      top: 20px;
      border-width: 0px 0 0px 2px;
      border-color: #737373;
      top: 28px;
      left: 16px;
  } */
  