.inline-edit-form {
    width: 500px;
    border: 1px solid lightgray;
}

.inline-edit-button {
    width: 16px;
    height: 16px;
    background: transparent;
    vertical-align: middle;
    line-height: 16px;
    margin-left: 16px;
    cursor: pointer;
    visibility: hidden;
}

.hcl-inline-wrapper:hover .inline-edit-button {
    visibility: visible;
}